{% extends "base.html" %}

{% block title %}
{{ project_name }} - {{ post.title }}
{% endblock %}

{% block body %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{% if not post.header_image %}/assets/img/post-bg.jpg{% else %}{{ post.header_image }}{% endif %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ post.title }}</h1>
                        <h2 class="subheading">{{ post.summary }}</h2>
                        <span class="meta">Posted by <a href="mailto:{{ post.author.email }}">{{ post.author.first_name }} {{ post.author.last_name }}</a> on {{ post.published.strftime('%d %B %Y') }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  {{ post.content|safe }}
                </div>
            </div>
        </div>
    </article>
{% endblock %}
